*.pptx
build/
build-*/
cmake-build-*/
b0/
.cache/
.cache-fedora/
.ccache-fedora/
gcm.cache/
.idea/
__pycache__/
*.pyc
compile_commands.json
*.pcm
*.gcm
*.o
*.a
*.so
*.tar.gz
CMakeUserPresets.json
**/.generated-libcxx.modules.json
examples/00-simple-example/myu1
